
<h1 style="text-align:center;">News & Events</h1>

<!-- <%= @articles.each do |article| %> -->
  <div class="dialog">
    <h3><strong><%= article.title %></strong></h3>
    <p> Submitted <%= time_ago_in_words(article.created_at) %></p>

    <paper-button raised class="colored">
      <%= link_to 'VIEW', article_path(article) %>
    </paper-button>
  <% if current_user.admin? %>
    <paper-button class="hover">
      <core-icon icon="clear"></core-icon>
      <%= link_to 'Delete', article_path(article), :class=>"delete", method: :delete, data: { confirm: 'You are about to delete this post. Are you sure?'} %>
    </paper-button>

    <paper-button class="hover">
    <core-icon icon="spellcheck"></core-icon>
    <%= link_to 'EDIT', edit_article_path(article) %>
  </paper-button>
  <% end %>


  </div>
<!-- <% end %> -->


<paper-fab icon="create"><%= link_to '', new_article_path %></paper-fab>
