<!-- <%= @users.each do |user| %> --> 
<div class="dialog">
  <h1><%= user.name %></h1>
  <img style="border-radius: 50%;" src="<%= user.avatar %>" alt="">
  <p>
    <strong>email: </strong>
    <%= user.email %>
  </p>
  <p style="float: left; margin-left: 2em;">
    <strong>Title: </strong>
    <%= user.title %>
  </p>
  <p style="float: right; margin-right: 2em;">
    <strong>Company: </strong>
    <%= user.company %>
  </p>
</div>
<!-- <%end%> -->
