<core-toolbar mode="waterfall-tall" class="tall">

  <paper-tabs selected="0" class="bottom" self-end style="width: 300px;">

    <paper-tab><%= link_to 'HOME', articles_path, :class => "p-tabs",
      "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>

    <paper-tab><%= link_to 'PAGE', new_article_path, :class => "p-tabs",
      "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>

    <paper-tab><%= link_to 'EVERYONE', welcome_index_path,:class => "p-tabs",
    "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>

    <% if user_signed_in? %>
      <img style="border-radius: 50%; margin-left: 4em;" src="<%= current_user.avatar %>" alt="">
    <% else %>
      <paper-tab><%= link_to 'LOG IN', user_omniauth_authorize_path(:google_oauth2), :class => "p-tabs",
      "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>
    <% end %>

  </paper-tabs>

  <div class="bottom" flex></div>


  <paper-icon-button class="bottom" icon="account-circle"></paper-icon-button>

</core-toolbar>
