
<core-toolbar class="tall">

  <paper-tabs selected="0" class="bottom fit" self-end >

    <paper-tab><%= link_to 'HOME', main_app.articles_path, :class => "p-tabs",
      "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>

    <paper-tab><%= link_to 'FORUM', forem.forums_path, :class => "p-tabs",
      "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>

    <paper-tab><%= link_to 'EVERYONE', main_app.welcome_index_path,:class => "p-tabs",
    "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>

    <paper-tab><%= link_to 'LPG INFO', main_app.comfy_cms_render_page_path,:class => "p-tabs",
    "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>


    <% if user_signed_in? %>
        <paper-tab><%= link_to 'LOG OUT', main_app.destroy_user_session_path, :method => :delete, :class => "p-tabs",
          "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>
      </paper-tabs>

      <paper-menu-button>
        <paper-icon-button icon="menu" noink></paper-icon-button>
        <paper-dropdown class="dropdown">
          <core-menu class="menu">
            <template repeat="{{pastries}}">
              <paper-item>{{}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown>
      </paper-menu-button>

      <div flex>
        <h2>Lamp Post Group</h2>
      </div>

      <span flex></span>
      <img class=" avatar" src="<%= current_user.avatar %>" alt="">


    <% else %>
      </paper-tabs>

      <paper-menu-button>
        <paper-icon-button icon="menu" noink></paper-icon-button>
        <!-- <paper-dropdown class="dropdown">
          <core-menu class="menu">
            <template repeat="{{user_bubble}}">
              <paper-item>{{}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown> -->
      </paper-menu-button>

        <span flex></span>
        <paper-icon-button class="" icon="account-circle"></paper-icon-button>
    <% end %>



</core-toolbar>

<script>

scope = document.querySelector('template[is=auto-binding]');

scope.pastries = [
'Apple fritter',
'Croissant',
'Donut',
'Financier',
'Jello',
'Madeleine',
'Pound cake',
'Pretzel',
'Sfogliatelle'
];

</script>
