<core-toolbar class="tall">

  <paper-tabs selected="0" class="bottom fit tab-color" self-end horizontal center layout>

    <paper-tab><%= link_to 'HOME', root_path, :class => "p-tabs",
      "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>

    <paper-tab><%= link_to 'FORUM', forem.forums_path, :class => "p-tabs",
      "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>

    <paper-tab><%= link_to 'DIRECTORY', main_app.welcome_index_path,:class => "p-tabs",
    "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>

    <paper-tab><%= link_to 'CONTACT US', main_app.new_contact_path,:class => "p-tabs",
    "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>



      <% Comfy::Cms::Site.first.pages.root.children.published.each do |page| %>
      <paper-tab><%= link_to page.label.upcase, page.full_path, :class => "p-tabs",
      "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>
      <% end %>



    <% if user_signed_in? %>
        <paper-tab><%= link_to 'LOG OUT', main_app.destroy_user_session_path, :method => :delete, :class => "p-tabs",
          "horizontal"=>"", "center-center"=>"", "layout"=>"" %></paper-tab>
      </paper-tabs>



      <div flex>
        <!-- <%= link_to (image_tag "LPG.png"), :class => "logo"%> -->
        <h2>Lamp Post Group</h2>
      </div>

      <span flex></span>
      <img class=" avatar" src="<%= current_user.avatar %>" alt="">


    <% else %>
      </paper-tabs>

      <paper-menu-button>
        <paper-icon-button icon="menu" noink></paper-icon-button>
        <!-- <paper-dropdown class="dropdown">
          <core-menu class="menu">
            <template repeat="{{}}">
              <paper-item>{{}}</paper-item>
            </template>
          </core-menu>
        </paper-dropdown> -->
      </paper-menu-button>

        <span flex></span>
        <paper-icon-button class="" icon="account-circle"></paper-icon-button>
    <% end %>



</core-toolbar>
